# Ignore local configuration files
config.py

# Ignore logs, charts, reports, build, dist, and hooks folders
logs/
charts/
reports/
build/
dist/
hooks/

# Python cache files
__pycache__/
*.pyc

# Ignore PyInstaller spec files
*.spec
